@import url("common.css");

/* buger */
.menu-trigger {
    z-index: 999;
    width: 20px;
    height: 20px;
    position: fixed;
    top: 55px;
    right: 60px;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #333;
    border-radius: 50px;
    transition: .5s;
}

.menu-trigger:hover span {
    background: #ff9292;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}


.menu-trigger.active span:nth-of-type(1) {
    transform: translateY(9px) rotate(45deg);
    background: #ff9292;
}

.menu-trigger.active span:nth-of-type(2) {
    border: 2px solid #ff9292;
    background: none;
    transform: rotate(90deg);
    width: 30px;
    height: 30px;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    transform-origin: 50% 50%;
}

.menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-9px) rotate(-45deg);
    background: #ff9292;
}







/* list_menu */
.menu {}

.menu.active {
    z-index: 998;
    background: rgba(0, 0, 0, 0.2);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.bg {
    background: #fffaeb;
    padding: 10px;

    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 1s;
}

.bg.active {
    transform: translateX(0%);
}


.bg ul li {
    position: relative;
    padding: 35px 0;
}

.bg ul li a {
    padding-left: 10px;
    font-size: 30px;
}







/* project */
main {
    margin: 0px auto;
    padding:120px 0
}





.frame {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding:30px 0;
}

.frame figure {
    left: 0;
    display: flex;
    position: relative;
    transition: .5s;
}

.frame figure a:nth-of-type(1) {
    margin-left: 400px;
}

.frame figure a {
    display: inline-block;
    overflow: hidden;
    width: 400px;
    height: 500px;
    position: relative;
    flex: 0 0 auto;

}

.frame figure a img {
    transform: scale(1.5);
    width: 100%;
}

.frame figure a p {
    position: absolute;
    top: 0;
    left: 0;
    background: #ff9292;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    white-space: pre-line;
    transition: .5s;
}

.frame figure a:hover p,
.frame figure a.active p {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .8;
    white-space:pre-line;
    text-align: center;
}

.frame figure a span {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #ff9292;
    width: 90%;
    height: 90%;
}

.frame figure a:hover span,
.frame figure a.active span {
    opacity: 1;
    transition: 1s;
}




/* indi */
.indi {
    position: absolute;
    top: 705px;
    right: 380px;
    text-align: center;
}

.indi a {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: #ffdbce;
    transition: .5s;
    display: inline-block;
    margin: 0 3px;
}

.indi a.active {
    background: #ff9292;
    width: 40px;
}



/* btn */
.btn {}

.prev {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 45%;
    left: 250px;
    transform: translateY(-50%);
    display: none;
}

.prev span {
    background: #333;
    height: 3px;
    border-radius: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s;
}

.prev span:nth-of-type(1) {
    transform: rotate(-45deg) translateY(-9px);
}

.prev span:nth-of-type(2) {
    transform: rotate(45deg) translateY(9px);
}

.prev span:nth-of-type(3) {
    left: 20px;
    display: none;
}

.prev:hover span {
    background: #ff9292;
}

.prev:hover span:nth-of-type(3) {
    display: block;
    left: 0;
    transition: 1s;
}


.next {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 45%;
    right: 250px;
    transform: translateY(-50%);
}

.next span {
    background: #333;
    height: 3px;
    border-radius: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s;
}

.next span:nth-of-type(1) {
    transform: rotate(45deg) translateY(-9px);
}

.next span:nth-of-type(2) {
    transform: rotate(-45deg) translateY(9px);
}

.next span:nth-of-type(3) {
    left: 20px;
    display: none;
}

.next:hover span {
    background: #ff9292;
}

.next:hover span:nth-of-type(3) {
    display: block;
    left: 0;
    transition: 1s;
}





/* popup */
.popup {
    display: none;
    background: rgba(0, 0, 0, 0.3);

    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup.active {
    display: block;
}


.site {
    display: inline-block;
    border: 3px solid #333;
    position: absolute;
    top: 101px;
    right: 290px;
    z-index: 9;
    padding: 1px 10px;
    transition: .5s;
}


.site:hover {
    color: #ff9292;
    border: 3px dashed #ff9292;
}

.back {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 115px;
    right: 230px;
    z-index: 10;
}

.back span {
    background: #333;
    height: 2.5px;
    border-radius: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s;
}

.back span:nth-of-type(1) {
    transform: rotate(-45deg);
}

.back span:nth-of-type(2) {
    transform: rotate(45deg);
}

.back:hover span {
    background: #ff9292;
}

.back:hover span:nth-of-type(3) {
    display: block;
    left: 0;
    transition: 1s;
}



.pop_bg {
    padding: 90px 30px 30px 30px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
}

.pop_bg p {
    width: 100%;
    height: 700px;
    overflow-y: scroll;
    overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.pop_bg img {
    border-radius: 10px;
    width: 100%;
}








/* mobile */
@media (max-width:480px) {
    main{
        padding:0;
    }
    /* buger */
    .menu-trigger {
        z-index: 999;
        width: 20px;
        height: 20px;
        position: fixed;
        top: 25px;
        right: 20px;
    }






    /* list_menu */
    .menu {}

    .menu.active {
        z-index: 20;
        background: none;

        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 0%;
        transition: 1s;
    }

    .bg {
        background: #fffaeb;
        padding: 10px;

        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: 1s;
    }

    .bg ul li {
        position: relative;
        padding: 20px 0;
    }

    .bg ul li a {
        padding-left: 10px;
        font-size: 20px;
    }







    /* project */
    .frame {
        position: relative;
        width: 250px;
        margin: 0px auto;
        padding:150px 0;
        overflow: hidden;
    }

    .frame figure {
        left: 0;
        display: block;
        position: relative;
        transition: .5s;
    }

    .frame figure a:nth-of-type(1) {
        margin-left: 0px;
    }

    .frame figure a {
        display: inline-block;
        overflow: hidden;
        width: 250px;
        height: 250px;
        position: relative;
        flex: 0 0 auto;
    }

    .frame figure a img {
        transform: scale(1);
        width: 100%;
    }

    .frame figure a p {
        position: absolute;
        top: 0;
        left: 0;
        background: #ff9292;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 20px;
        white-space: pre-line;
        transition: .5s;
    }

    .frame figure a:hover p,
    .frame figure a.active p {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .8;
    }




    /* indi */
    .indi {
        position: fixed;
        top: 50%;
        right: 10px;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .indi a {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background: #ffdbce;
        transition: .5s;
        display: block;
        margin: 10px 0;
    }

    .indi a.active {
        background: #ff9292;
        width: 15px;
        height: 40px;
    }




    /* btn */
    .next {
        display: none;
    }





    /* popup */
    .popup {
        display: none;
        background: none;

        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .popup.active {
        display: none;
    }

    .site {
        display: inline-block;
        border: 3px solid #333;
        position: absolute;
        top: 7px;
        right: 80%;
        z-index: 9;
        padding: 0 10px;
        transition: .5s;
    }

    .back {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
    }



    .pop_bg {
        padding: 40px 10px 10px 10px;
        border-radius: 10px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        height: 100%;
    }

    .pop_bg p {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-style: none;
    }


}










/* tablet01 */
@media (min-width:768px) and (max-width:1024px) {
    main{
        padding:0;
    }

    /* buger */
    .menu-trigger {
        z-index: 999;
        width: 30px;
        height: 30px;
        position: fixed;
        top: 45px;
        right: 40px;
    }

    .menu-trigger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background: #333;
        border-radius: 50px;
        transition: .5s;
    }

    .menu-trigger.active span:nth-of-type(1) {
        transform: translateY(14px) translateX(4px) rotate(45deg);
        background: #ff9292;
    }

    .menu-trigger.active span:nth-of-type(2) {
        border: 3px solid #ff9292;
        background: none;
        transform: rotate(90deg);
        width: 50px;
        height: 50px;
        top: 50%;
        left: -5px;
        transform: translateY(-50%);
        transform-origin: 50% 50%;
    }

    .menu-trigger.active span:nth-of-type(3) {
        transform: translateY(-14px) translateX(4px)rotate(-45deg);
        background: #ff9292;
    }





    /* list_menu */
    .bg {
        background: #fffaeb;
        padding: 10px;

        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: 1s;
    }

    .bg ul li {
        position: relative;
        padding: 30px 0;
    }

    .bg ul li a {
        padding-left: 10px;
        font-size: 30px;
    }







    /* project */
    .frame {
        position: relative;
        width: 600px;
        margin: 0px auto;
        padding:450px 0;
        overflow: hidden;
    }

    .frame figure {
        left: 0;
        display: block;
        position: relative;
        transition: .5s;
    }

    .frame figure a:nth-of-type(1) {
        margin-left: 0px;
    }

    .frame figure a {
        display: inline-block;
        overflow: hidden;
        width: 600px;
        height: 600px;
        position: relative;
        flex: 0 0 auto;
    }

    .frame figure a img {
        transform: scale(1.2);
        width: 100%;
    }

    .frame figure a p {
        position: absolute;
        top: 0;
        left: 0;
        background: #ff9292;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 50px;
        white-space: pre-line;
        transition: .5s;
    }

    .frame figure a:hover p,
    .frame figure a.active p {
        width: 300px;
        height: 300px;
        border-radius: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .8;
    }




    /* indi */
    .indi {
        position: fixed;
        top: 50%;
        right: 10px;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .indi a {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background: #ffdbce;
        transition: .5s;
        display: block;
        margin: 20px 10px;
    }

    .indi a.active {
        background: #ff9292;
        width: 30px;
        height: 80px;
    }




    /* btn */
    .next {
        display: none;
    }





    /* popup */
    .popup {
        display: none;
        background: none;

        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .popup.active {
        display: none;
    }

    .site {
        display: inline-block;
        position: absolute;
        top: 30px;
        right: 90%;
        z-index: 9;
    }

    .back {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 45px;
        right: 40px;
        z-index: 10;
    }



    .pop_bg {
        padding: 80px 30px 30px 30px;
        border-radius: 10px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        height: 100%;
    }

    .pop_bg p {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-style: none;
    }
}







/* tablet02 */
@media (min-width:1025px) and (max-width:1366px) {
    /* buger */
    .menu-trigger {
        z-index: 999;
        width: 20px;
        height: 20px;
        position: fixed;
        top: 30px;
        right: 40px;
    }



    /* list_menu */
    .bg {
        background: #fffaeb;
        padding: 10px;

        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: 1s;
    }

    .bg ul li {
        position: relative;
        padding: 25px 0;
    }

    .bg ul li a {
        padding-left: 10px;
        font-size: 20px;
    }







    /* project */
    main {
        margin: 0px auto;
        padding-top:70px;
        margin-bottom: 10px;
    }




    .frame figure a p {
        position: absolute;
        top: 0;
        left: 0;
        background: #ff9292;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 30px;
        white-space: pre-line;
        transition: .5s;
    }



    /* indi */
    .indi {
        position: absolute;
        top: 630px;
        right: 100px;
        text-align: center;
    }



    /* btn */
    .prev {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 45%;
        left: 30px;
        transform: translateY(-50%);
        display: none;
    }




    .next {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 45%;
        right: 30px;
        transform: translateY(-50%);
    }




    /* popup */
    .site {
        display: inline-block;
        border: 3px solid #333;
        position: absolute;
        top: 30px;
        right: 110px;
        z-index: 9;
        padding: 1px 10px;
        transition: .5s;
    }

    .back {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 43px;
        right: 50px;
        z-index: 10;
    }





    .pop_bg {
        padding: 90px 30px 30px 30px;
        border-radius: 10px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        height: 100%;
    }

    .pop_bg p {
        width: 100%;
        height: 900px;
        overflow-y: scroll;
        overflow-style: none;
    }

}
